<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ books['description'] | default('') }}">
    <meta name="keywords" content="{{ books['categories'] | default('') }}">
    <meta name="author" content="{{ books['author'] | default('') }}">
    <title>{{ books['title'] | default('') }}</title>
    <link rel="canonical" href="dump">
    <!-- Open Graph Meta Tags for social media -->
    <meta property="og:title" content="{{ books['title'] | default('') }}">
    <meta property="og:description" content="{{ books['description'] | default('') }}">
    <meta property="og:image" content="{{ books['image_url'] | default('') }}">
    <meta property="og:url" content="dump">
    <meta property="og:type" content="website">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ books['title'] | default('') }}">
    <meta name="twitter:description" content="{{ books['description'] | default('') }}">
    <meta name="twitter:image" content="{{ books['image_url'] | default('') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ books['image_url'] | default('') }}" type="image/x-icon">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="dump">
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "{{ books['title'] | default('') }}",
      "description": "{{ books['description'] | default('') }}",
      url": "dump"
    }
    </script>
</head>
<body>
     {% for book in books %}
        <h1>{{ book['title'] | default('') }}</h1>
        <img src="{{ book['image_url']}}" alt="Portada de {{ book['title'] }}">
        <p><strong>{{ t('edition') }}:</strong> {{ book['edition'] | default('') }}</p>
        <p><strong>{{ t('published_year') }}:</strong> {{ book['published_year'] | default('') }}</p>
        <p><strong>{{ t('format') }}:</strong> {{ book['format'] | default('') }}</p>
        <p><strong>{{ t('product_dimensions') }}:</strong> {{ book['product_dimensions'] | default('') }}</p>
        <p><strong>{{ t('publisher') }}:</strong> {{ book['publisher'] | default('') }}</p>
        <p><strong>{{ t('soldBy') }}:</strong> {{ book['soldBy'] | default('') }}</p>
        <hr>  {# Separator between books #}
    {% endfor %}
  <a href="{{ url_for('index', lang=lang) }}">{{ t('back_to_list') }}</a>
</body>
</html>
