<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ books['description'] | default('') }}">
    <meta name="keywords" content="{{ books['categories'] | default('') }}">
    <meta name="author" content="{{ books['author'] | default('') }}">
    <title>{{ books['title'] | default('') }}</title>
    <link rel="canonical" href="dump">
    <!-- Open Graph Meta Tags for social media -->
    <meta property="og:title" content="{{ books['title'] | default('') }}">
    <meta property="og:description" content="{{ books['description'] | default('') }}">
    <meta property="og:image" content="{{ books['image_url'] | default('') }}">
    <meta property="og:url" content="dump">
    <meta property="og:type" content="website">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ books['title'] | default('') }}">
    <meta name="twitter:description" content="{{ books['description'] | default('') }}">
    <meta name="twitter:image" content="{{ books['image_url'] | default('') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ books['image_url'] | default('') }}" type="image/x-icon">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="dump">
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "{{ books['title'] | default('') }}",
      "description": "{{ books['description'] | default('') }}",
      url": "dump"
    }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>
    <h1>{{ books[0]['title'] | default('') }}</h1>
    <p>{{ books[0]['author'] | default('') }}</p>
     {% for libro in books %}
        <div class="book-display">
        <div class="book-cover">
            <img src="{{ libro['image_url']}}" alt="Portada de {{ libro['title'] }}">
            <!-- Optional: Add elements for spine effect if desired -->
        </div>
        <div class="book-info">
            
          {% if libro['isbn10'] | default(None) %}
    <p><strong>{{ t('isbn10') }}:</strong> {{ libro['isbn10'] }}</p>
{% endif %}
{% if libro['isbn13'] | default(None) %}
    <p><strong>{{ t('isbn13') }}:</strong> {{ libro['isbn13'] }}</p>
{% endif %}


{% if libro['language'] | default(None) %}
    <p><strong>{{ t('language') }}:</strong> {{ libro['language'] }}</p>
{% endif %}

{% if libro['edition'] | default(None) %}
    <p><strong>{{ t('edition') }}:</strong> {{ libro['edition'] }}</p>
{% endif %}

{# Note: This will hide the label if published_year is 0 or empty #}
{% if libro['published_year'] | default(None) %}
    <p><strong>{{ t('published_year') }}:</strong> {{ libro['published_year'] }}</p>
{% endif %}


{% if libro['asin'] | default(None) %}
    <p><strong>{{ t('asin') }}:</strong> {{ libro['asin'] }}</p>
{% endif %}


{% if libro['product_dimensions'] | default(None) %}
    <p><strong>{{ t('product_dimensions') }}:</strong> {{ libro['product_dimensions'] }}</p>
{% endif %}

{% if libro['publisher'] | default(None) %}
    <p><strong>{{ t('publisher') }}:</strong> {{ libro['publisher'] }}</p>
{% endif %}

{% if libro['soldBy'] | default(None) %}
    <p><strong>{{ t('soldBy') }}:</strong> {{ libro['soldBy'] }}</p>
{% endif %}

{% if libro['weight'] | default(None) %}
    <p><strong>{{ t('weight') }}:</strong> {{ libro['weight'] }}</p>
{% endif %}
        </div>
    </div>
    {% endfor %}
  <a href="{{ url_for('index', lang=lang) }}">{{ t('back_to_list') }}</a>
</body>
</html>
