1| <!DOCTYPE html>
2| <html lang="{{ lang }}">
3| <head>
4|     <meta charset="UTF-8">
5|     <meta name="viewport" content="width=device-width, initial-scale=1.0">
6|     <meta name="description" content="{{ libro['description'] | default('') }}">
7|     <meta name="keywords" content="{{ libro['categories'] | default('') }}">
8|     <meta name="author" content="{{ libro['author'] | default('') }}">
9|     <title>{{ libro['title'] | default('') }}</title>
10|     <link rel="canonical" href="dump">
11|     <!-- Open Graph Meta Tags for social media -->
12|     <meta property="og:title" content="{{ libro['title'] | default('') }}">
13|     <meta property="og:description" content="{{ libro['description'] | default('') }}">
14|     <meta property="og:image" content="{{ libro['image_url'] | default('') }}">
15|     <meta property="og:url" content="dump">
16|     <meta property="og:type" content="website">
17|     <!-- Twitter Card Meta Tags -->
18|     <meta name="twitter:card" content="summary_large_image">
19|     <meta name="twitter:title" content="{{ libro['title'] | default('') }}">
20|     <meta name="twitter:description" content="{{ libro['description'] | default('') }}">
21|     <meta name="twitter:image" content="{{ libro['image_url'] | default('') }}">
22|     <!-- Favicon -->
23|     <link rel="icon" href="{{ libro['image_url'] | default('') }}" type="image/x-icon">
24|     <!-- CSS Stylesheets -->
25|     <link rel="stylesheet" href="dump">
26|     <!-- Structured Data -->
27|     <script type="application/ld+json">
28|     {
29|       "@context": "https://schema.org",
30|       "@type": "WebPage",
31|       "name": "{{ libro['title'] | default('') }}",
32|       "description": "{{ libro['description'] | default('') }}",
33|       url": "dump"
34|     }
35|     </script>
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,400i,700&display=swap" rel="stylesheet">

        <!-- FontAwesome JS-->
        <script defer src="assets/fontawesome/js/all.min.js"></script>

        <!-- Theme CSS -->  
        <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">
  
36| </head>
<body>    
    <header class="header">	    
        <div class="branding">
            <div class="container-fluid position-relative py-3">
                <div class="logo-wrapper">
	                <div class="site-logo"><a class="navbar-brand" href="index.html"><img class="logo-icon me-2" src="assets/images/site-logo.svg" alt="logo"><span class="logo-text">DevBook</span></a></div>    
                </div><!--//docs-logo-wrapper-->
	        
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->
    
    <section class="hero-section">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-5 mb-5 align-self-center">
				    <div class="book-cover-holder">
					    <img class="img-fluid book-cover" src="{{ libro['image_url']}}" alt="book cover">
					    <div class="book-badge d-inline-block shadow">
						    New<br>Release
					    </div>
				    </div><!--//book-cover-holder-->
				    <div class="text-center"><a class="theme-link scrollto" href="#reviews-section">See all book reviews</a></div>
			    </div>
          
          <div class="col-12 col-md-6 mb-5">
					    <div class="key-points mb-4 text-center">
						    <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-start">
                  <li><strong>{{ t('isbn10') }}:</strong> {{ libro['isbn10'] | default('') }}</li>
          41|     <li><strong>{{ t('isbn13') }}:</strong> {{ libro['isbn13'] | default('') }}</li>    
          42|     <li><strong>{{ t('author') }}:</strong> {{ libro['author'] | default('') }}</li>
          43|     <li><strong>{{ t('subtitle') }}:</strong> {{ libro['subtitle'] | default('') }}</li>
          44|     <li><strong>{{ t('language') }}:</strong> {{ libro['language'] | default('') }}</li>
          45|     <li><strong>{{ t('categories') }}:</strong> {{ libro['categories'] | default('') }}</li>
          46|     <li><strong>{{ t('description') }}:</strong> {{ libro['description'] | default('') }}</li>
          47|     <li><strong>{{ t('series') }}:</strong> {{ libro['series'] | default('') }}</li>
          48|     <li><strong>{{ t('edition') }}:</strong> {{ libro['edition'] | default('') }}</li>
          49|     <li><strong>{{ t('firstPublishDate') }}:</strong> {{ libro['firstPublishDate'] | default('') }}</li>
          50|     <li><strong>{{ t('published_year') }}:</strong> {{ libro['published_year'] | default('') }}</li>
          51|     <li><strong>{{ t('characters') }}:</strong> {{ libro['characters'] | default('') }}</li>
          52|     <li><strong>{{ t('format') }}:</strong> {{ libro['format'] | default('') }}</li>
          53|     <li><strong>{{ t('genres') }}:</strong> {{ libro['genres'] | default('') }}</li>
          54|     <li><strong>{{ t('asin') }}:</strong> {{ libro['asin'] | default('') }}</li>
          55|     <li><strong>{{ t('average_rating') }}:</strong> {{ libro['average_rating'] | default('') }}</li>
          56|     <li><strong>{{ t('awards') }}:</strong> {{ libro['awards'] | default('') }}</li>
          57|     <li><strong>{{ t('ratingsByStars') }}:</strong> {{ libro['ratingsByStars'] | default('') }}</li>
          58|     <li><strong>{{ t('bbeVotes') }}:</strong> {{ libro['bbeVotes'] | default('') }}</li>
          59|     <li><strong>{{ t('numRatings') }}:</strong> {{ libro['numRatings'] | default('') }}</li>
          60|     <li><strong>{{ t('product_dimensions') }}:</strong> {{ libro['product_dimensions'] | default('') }}</li>
          61|     <li><strong>{{ t('publisher') }}:</strong> {{ libro['publisher'] | default('') }}</li>
          62|     <li><strong>{{ t('soldBy') }}:</strong> {{ libro['soldBy'] | default('') }}</li>
          63|     <li><strong>{{ t('weight') }}:</strong> {{ libro['weight'] | default('') }}</li>
						    </ul>
						    <div class="text-center"><a class="btn btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-5-book-ebook-landing-page-template-for-developers/">I want this book</a></div>
					    </div><!--//key-points-->
					    
				    </div>
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//hero-section-->
    

       
    <!-- Javascript -->          
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/plugins/smoothscroll.min.js"></script> 
    
    <script src="assets/js/main.js"></script>


 

</body>
</html>