<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ libro['description'] | default('') }}">
    <meta name="keywords" content="{{ libro['categories'] | default('') }}">
    <meta name="author" content="{{ libro['author'] | default('') }}">
    <title>{{ libro['title'] | default('') }}</title>
    <link rel="canonical" href="dump">
    <!-- Open Graph Meta Tags for social media -->
    <meta property="og:title" content="{{ libro['title'] | default('') }}">
    <meta property="og:description" content="{{ libro['description'] | default('') }}">
    <meta property="og:image" content="{{ libro['image_url'] | default('') }}">
    <meta property="og:url" content="dump">
    <meta property="og:type" content="website">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ libro['title'] | default('') }}">
    <meta name="twitter:description" content="{{ libro['description'] | default('') }}">
    <meta name="twitter:image" content="{{ libro['image_url'] | default('') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ libro['image_url'] | default('') }}" type="image/x-icon">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="dump">
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "{{ libro['title'] | default('') }}",
      "description": "{{ libro['description'] | default('') }}",
      url": "dump"
    }
    </script>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>
  
  <div class="book-display">
        <div class="book-cover">
            <img src="{{ libro['image_url']}}" alt="Portada de {{ libro['title'] }}">
            <!-- Optional: Add elements for spine effect if desired -->
        </div>
        <div class="book-info">
            <h2>{{ libro['title'] | default('') }}</h2>
            <p>{{ libro['subtitle'] | default('') }}</p>
            <p><strong>{{ t('author') }}:</strong> {{ libro['author'] | default('') }}</p>
        </div>
    </div>
  
  
{% if libro['isbn10'] | default(None) %}
    <p><strong>{{ t('isbn10') }}:</strong> {{ libro['isbn10'] }}</p>
{% endif %}
{% if libro['isbn13'] | default(None) %}
    <p><strong>{{ t('isbn13') }}:</strong> {{ libro['isbn13'] }}</p>
{% endif %}

{% if libro['subtitle'] | default(None) %}
    <p><strong>{{ t('subtitle') }}:</strong> {{ libro['subtitle'] }}</p>
{% endif %}

{% if libro['language'] | default(None) %}
    <p><strong>{{ t('language') }}:</strong> {{ libro['language'] }}</p>
{% endif %}

{# Note: This will also hide the label if categories is an empty list/string #}
{% if libro['categories'] | default(None) %}
    <p><strong>{{ t('categories') }}:</strong> {{ libro['categories'] }}</p>
{% endif %}

{% if libro['description'] | default(None) %}
    <p><strong>{{ t('description') }}:</strong> {{ libro['description'] }}</p>
{% endif %}

{% if libro['series'] | default(None) %}
    <p><strong>{{ t('series') }}:</strong> {{ libro['series'] }}</p>
{% endif %}

{% if libro['edition'] | default(None) %}
    <p><strong>{{ t('edition') }}:</strong> {{ libro['edition'] }}</p>
{% endif %}

{% if libro['firstPublishDate'] | default(None) %}
    <p><strong>{{ t('firstPublishDate') }}:</strong> {{ libro['firstPublishDate'] }}</p>
{% endif %}

{# Note: This will hide the label if published_year is 0 or empty #}
{% if libro['published_year'] | default(None) %}
    <p><strong>{{ t('published_year') }}:</strong> {{ libro['published_year'] }}</p>
{% endif %}

{# Note: This will also hide the label if characters is an empty list/string #}
{% if libro['characters'] | default(None) %}
    <p><strong>{{ t('characters') }}:</strong> {{ libro['characters'] }}</p>
{% endif %}

{% if libro['format'] | default(None) %}
    <p><strong>{{ t('format') }}:</strong> {{ libro['format'] }}</p>
{% endif %}

{# Note: This will also hide the label if genres is an empty list/string #}
{% if libro['genres'] | default(None) %}
    <p><strong>{{ t('genres') }}:</strong> {{ libro['genres'] }}</p>
{% endif %}

{% if libro['asin'] | default(None) %}
    <p><strong>{{ t('asin') }}:</strong> {{ libro['asin'] }}</p>
{% endif %}

{# Note: This will hide the label if average_rating is 0 or empty #}
{% if libro['average_rating'] | default(None) %}
    <p><strong>{{ t('average_rating') }}:</strong> {{ libro['average_rating'] }}</p>
{% endif %}

{# Note: This will also hide the label if awards is an empty list/string #}
{% if libro['awards'] | default(None) %}
    <p><strong>{{ t('awards') }}:</strong> {{ libro['awards'] }}</p>
{% endif %}

{# Note: This will hide the label if ratingsByStars is empty (e.g., {}, [], '') #}
{% if libro['ratingsByStars'] | default(None) %}
    <p><strong>{{ t('ratingsByStars') }}:</strong> {{ libro['ratingsByStars'] }}</p>
{% endif %}

{# Note: This will hide the label if bbeVotes is 0 or empty #}
{% if libro['bbeVotes'] | default(None) %}
    <p><strong>{{ t('bbeVotes') }}:</strong> {{ libro['bbeVotes'] }}</p>
{% endif %}

{# Note: This will hide the label if numRatings is 0 or empty #}
{% if libro['numRatings'] | default(None) %}
    <p><strong>{{ t('numRatings') }}:</strong> {{ libro['numRatings'] }}</p>
{% endif %}

{% if libro['product_dimensions'] | default(None) %}
    <p><strong>{{ t('product_dimensions') }}:</strong> {{ libro['product_dimensions'] }}</p>
{% endif %}

{% if libro['publisher'] | default(None) %}
    <p><strong>{{ t('publisher') }}:</strong> {{ libro['publisher'] }}</p>
{% endif %}

{% if libro['soldBy'] | default(None) %}
    <p><strong>{{ t('soldBy') }}:</strong> {{ libro['soldBy'] }}</p>
{% endif %}

{% if libro['weight'] | default(None) %}
    <p><strong>{{ t('weight') }}:</strong> {{ libro['weight'] }}</p>
{% endif %}
    <p><a href="{{ url_for('index', lang=lang) }}">{{ t('back_to_list') }}</a> </p>
</body>
</html>
