<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ libro['description'] | default('') }}">
    <meta name="keywords" content="{{ libro['categories'] | default('') }}">
    <meta name="author" content="{{ libro['author'] | default('') }}">
    <title>{{ libro['title'] | default('') }}</title>
    <link rel="canonical" href="dump">
    <!-- Open Graph Meta Tags for social media -->
    <meta property="og:title" content="{{ libro['title'] | default('') }}">
    <meta property="og:description" content="{{ libro['description'] | default('') }}">
    <meta property="og:image" content="{{ libro['image_url'] | default('') }}">
    <meta property="og:url" content="dump">
    <meta property="og:type" content="website">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ libro['title'] | default('') }}">
    <meta name="twitter:description" content="{{ libro['description'] | default('') }}">
    <meta name="twitter:image" content="{{ libro['image_url'] | default('') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ libro['image_url'] | default('') }}" type="image/x-icon">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="dump">
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "{{ libro['title'] | default('') }}",
      "description": "{{ libro['description'] | default('') }}",
      url": "dump"
    }
    </script>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>
  
  <div class="book-display">
        <div class="book-cover">
            <img src="{{ libro['image_url']}}" alt="Portada de {{ libro['title'] }}">
            <!-- Optional: Add elements for spine effect if desired -->
        </div>
        <div class="book-info">
            <h2>{{ libro['title'] | default('') }}</h2>
            <p>{{ t('author') }}:</strong> {{ libro['author'] | default('') }}</p>
        </div>
    </div>
  
  
    <h1>{{ libro['title'] | default('') }}</h1>
    <img src="{{ libro['image_url']}}" alt="Portada de {{ libro['title'] }}">
    <p><strong>{{ t('isbn10') }}:</strong> {{ libro['isbn10'] | default('') }}</p>
    <p><strong>{{ t('isbn13') }}:</strong> {{ libro['isbn13'] | default('') }}</p>    
    <p><strong>{{ t('author') }}:</strong> {{ libro['author'] | default('') }}</p>
    <p><strong>{{ t('subtitle') }}:</strong> {{ libro['subtitle'] | default('') }}</p>
    <p><strong>{{ t('language') }}:</strong> {{ libro['language'] | default('') }}</p>
    <p><strong>{{ t('categories') }}:</strong> {{ libro['categories'] | default('') }}</p>
    <p><strong>{{ t('description') }}:</strong> {{ libro['description'] | default('') }}</p>
    <p><strong>{{ t('series') }}:</strong> {{ libro['series'] | default('') }}</p>
    <p><strong>{{ t('edition') }}:</strong> {{ libro['edition'] | default('') }}</p>
    <p><strong>{{ t('firstPublishDate') }}:</strong> {{ libro['firstPublishDate'] | default('') }}</p>
    <p><strong>{{ t('published_year') }}:</strong> {{ libro['published_year'] | default('') }}</p>
    <p><strong>{{ t('characters') }}:</strong> {{ libro['characters'] | default('') }}</p>
    <p><strong>{{ t('format') }}:</strong> {{ libro['format'] | default('') }}</p>
    <p><strong>{{ t('genres') }}:</strong> {{ libro['genres'] | default('') }}</p>
    <p><strong>{{ t('asin') }}:</strong> {{ libro['asin'] | default('') }}</p>
    <p><strong>{{ t('average_rating') }}:</strong> {{ libro['average_rating'] | default('') }}</p>
    <p><strong>{{ t('awards') }}:</strong> {{ libro['awards'] | default('') }}</p>
    <p><strong>{{ t('ratingsByStars') }}:</strong> {{ libro['ratingsByStars'] | default('') }}</p>
    <p><strong>{{ t('bbeVotes') }}:</strong> {{ libro['bbeVotes'] | default('') }}</p>
    <p><strong>{{ t('numRatings') }}:</strong> {{ libro['numRatings'] | default('') }}</p>
    <p><strong>{{ t('product_dimensions') }}:</strong> {{ libro['product_dimensions'] | default('') }}</p>
    <p><strong>{{ t('publisher') }}:</strong> {{ libro['publisher'] | default('') }}</p>
    <p><strong>{{ t('soldBy') }}:</strong> {{ libro['soldBy'] | default('') }}</p>
    <p><strong>{{ t('weight') }}:</strong> {{ libro['weight'] | default('') }}</p>
    <a href="{{ url_for('index', lang=lang) }}">{{ t('back_to_list') }}</a>
</body>
</html>
