<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t('title') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ t('title') }}</h1>
    <ul>
        {% for book in books %}
        <li>
            <a href="{{ url_for('book', book_id=book['bookId'], lang=lang) }}">{{ book['title'] }}</a> {{ t('author') }} {{ book['author'] }}
        </li>
        {% endfor %}
    </ul>
    <a href="?lang=es">Español</a> | <a href="?lang=en">English</a>
</body>
</html>
