<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>
    <div class="search-bar">
        <form action="https://www.google.com/search" method="get">
            <input type="text" name="q" placeholder="Search Google">
            <button type="submit">Search</button>
        </form>
    </div>


    <div class="section">
        <h2>Top Seller New Books This Month</h2>
            <!-- Add more books as needed -->
          {% for libro in books %}
      <div class="book-display">
        <div class="book-cover">
            <img src="{{ libro['image_url']}}" alt="Portada de {{ libro['title'] }}">
            <!-- Optional: Add elements for spine effect if desired -->
        </div>
        <div class="book-info">
            
          {% if libro['title'] | default(None) %}
    <h3>{{ libro['title'] }}</h3>
{% endif %}
          {% if libro['author'] | default(None) %}
    <p>{{ libro['author'] }}</p>
{% endif %}

        </div>
    </div>
    {% endfor %}
        
    </div>
</body>
</html>