<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="{{ author }}">
    <title>{{ libro['book_title'] }}</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <!-- Open Graph Meta Tags for social media -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ og_image }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:type" content="website">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ twitter_image }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "{{ title }}",
      "description": "{{ description }}",
      "url": "{{ canonical_url }}"
    }
    </script>
</head>
<body>
    <h1>{{ libro['book_title'] }}</h1>
    <img src="{{ libro['cover_image_uri'] }}" alt="Portada de {{ libro['book_title'] }}">
    <p><strong>Autor:</strong> <a href="{{ libro['authorlink'] }}">{{ libro['author'] }}</a></p>
    <p><strong>Detalles:</strong> {{ libro['book_details'] }}</p>
    <p><strong>Formato:</strong> {{ libro['format'] }}</p>
    <p><strong>Información de Publicación:</strong> {{ libro['publication_info'] }}</p>
    <p><strong>Número de Páginas:</strong> {{ libro['num_pages'] }}</p>
    <p><strong>Géneros:</strong> {{ libro['genres'] }}</p>
    <p><strong>Número de Calificaciones:</strong> {{ libro['num_ratings'] }}</p>
    <p><strong>Número de Reseñas:</strong> {{ libro['num_reviews'] }}</p>
    <p><strong>Calificación Promedio:</strong> {{ libro['average_rating'] }}</p>
    <p><strong>Distribución de Calificaciones:</strong> {{ libro['rating_distribution'] }}</p>
    <a href="../index.html">Volver a la lista de libros</a>
</body>
</html>
